nifi/util/SpaceShuttleNifi2.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>9783231c-0192-1000-2b7a-2a7ad176c477</groupId>
    <name>SpaceShuttleNifi2</name>
    <snippet>
        <connections>
            <id>0084574d-c616-32a9-0000-000000000000</id>
            <parentGroupId>29d8824a-8218-3296-0000-000000000000</parentGroupId>
            <versionedComponentId>0084574d-c616-32a9-9278-9253844a8b4f</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>29d8824a-8218-3296-0000-000000000000</groupId>
                <id>72f16959-df6c-3d8f-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>72f16959-df6c-3d8f-96af-05bcde36f82f</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>Response</selectedRelationships>
            <source>
                <groupId>29d8824a-8218-3296-0000-000000000000</groupId>
                <id>55b9a277-3c37-303b-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>55b9a277-3c37-303b-874a-28ed4ba3461b</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>0251460f-3687-3ff2-0000-000000000000</id>
            <parentGroupId>29d8824a-8218-3296-0000-000000000000</parentGroupId>
            <versionedComponentId>0251460f-3687-3ff2-bb92-83710538018c</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>29d8824a-8218-3296-0000-000000000000</groupId>
                <id>55b9a277-3c37-303b-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>55b9a277-3c37-303b-874a-28ed4ba3461b</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>Original</selectedRelationships>
            <source>
                <groupId>29d8824a-8218-3296-0000-000000000000</groupId>
                <id>cb8f2318-41f1-3482-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>cb8f2318-41f1-3482-b62b-172928420788</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>0dbfd316-25f2-36ce-0000-000000000000</id>
            <parentGroupId>29d8824a-8218-3296-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>29d8824a-8218-3296-0000-000000000000</groupId>
                <id>5eb1d992-fb04-3fb4-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>Response</selectedRelationships>
            <source>
                <groupId>29d8824a-8218-3296-0000-000000000000</groupId>
                <id>8960851d-bec2-3b06-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>70a8a097-e0c0-3d9d-0000-000000000000</id>
            <parentGroupId>29d8824a-8218-3296-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>29d8824a-8218-3296-0000-000000000000</groupId>
                <id>a482bcf3-131a-3bee-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>Original</selectedRelationships>
            <source>
                <groupId>29d8824a-8218-3296-0000-000000000000</groupId>
                <id>cb8f2318-41f1-3482-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>cb8f2318-41f1-3482-b62b-172928420788</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>89c9d2df-2832-37fe-0000-000000000000</id>
            <parentGroupId>29d8824a-8218-3296-0000-000000000000</parentGroupId>
            <versionedComponentId>89c9d2df-2832-37fe-bd37-daaa8f540b35</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>29d8824a-8218-3296-0000-000000000000</groupId>
                <id>cb8f2318-41f1-3482-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>cb8f2318-41f1-3482-b62b-172928420788</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>29d8824a-8218-3296-0000-000000000000</groupId>
                <id>70e1fac8-eefd-396d-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>70e1fac8-eefd-396d-8b0a-6b054e8d812b</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>9b667587-a837-380c-0000-000000000000</id>
            <parentGroupId>29d8824a-8218-3296-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>29d8824a-8218-3296-0000-000000000000</groupId>
                <id>727de4ce-0943-3347-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>Response</selectedRelationships>
            <source>
                <groupId>29d8824a-8218-3296-0000-000000000000</groupId>
                <id>a482bcf3-131a-3bee-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>b7611658-f718-3700-0000-000000000000</id>
            <parentGroupId>29d8824a-8218-3296-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>29d8824a-8218-3296-0000-000000000000</groupId>
                <id>8960851d-bec2-3b06-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>Original</selectedRelationships>
            <source>
                <groupId>29d8824a-8218-3296-0000-000000000000</groupId>
                <id>cb8f2318-41f1-3482-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>cb8f2318-41f1-3482-b62b-172928420788</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <processors>
            <id>55b9a277-3c37-303b-0000-000000000000</id>
            <parentGroupId>29d8824a-8218-3296-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>440.0</y>
            </position>
            <versionedComponentId>55b9a277-3c37-303b-874a-28ed4ba3461b</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.27.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>HTTP Method</key>
                        <value>
                            <name>HTTP Method</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Remote URL</key>
                        <value>
                            <name>Remote URL</name>
                        </value>
                    </entry>
                    <entry>
                        <key>disable-http2</key>
                        <value>
                            <name>disable-http2</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>
                            <name>Connection Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Read Timeout</key>
                        <value>
                            <name>Read Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Socket Write Timeout</key>
                        <value>
                            <name>Socket Write Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>idle-timeout</key>
                        <value>
                            <name>idle-timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-idle-connections</key>
                        <value>
                            <name>max-idle-connections</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                            <name>proxy-configuration-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                        <value>
                            <name>Proxy Host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                        <value>
                            <dependencies>
<propertyName>Proxy Host</propertyName>
                            </dependencies>
                            <name>Proxy Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Type</key>
                        <value>
                            <dependencies>
<propertyName>Proxy Host</propertyName>
                            </dependencies>
                            <name>Proxy Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-user</key>
                        <value>
                            <dependencies>
<propertyName>Proxy Host</propertyName>
                            </dependencies>
                            <name>invokehttp-proxy-user</name>
                        </value>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-password</key>
                        <value>
                            <dependencies>
<propertyName>Proxy Host</propertyName>
                            </dependencies>
                            <name>invokehttp-proxy-password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>oauth2-access-token-provider</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.oauth2.OAuth2AccessTokenProvider</identifiesControllerService>
                            <name>oauth2-access-token-provider</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Basic Authentication Username</key>
                        <value>
                            <name>Basic Authentication Username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Basic Authentication Password</key>
                        <value>
                            <name>Basic Authentication Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Digest Authentication</key>
                        <value>
                            <dependencies>
<propertyName>Basic Authentication Username</propertyName>
                            </dependencies>
                            <name>Digest Authentication</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Penalize on "No Retry"</key>
                        <value>
                            <name>Penalize on "No Retry"</name>
                        </value>
                    </entry>
                    <entry>
                        <key>send-message-body</key>
                        <value>
                            <dependencies>
<dependentValues>POST</dependentValues>
<dependentValues>PATCH</dependentValues>
<dependentValues>PUT</dependentValues>
<propertyName>HTTP Method</propertyName>
                            </dependencies>
                            <name>send-message-body</name>
                        </value>
                    </entry>
                    <entry>
                        <key>form-body-form-name</key>
                        <value>
                            <dependencies>
<dependentValues>true</dependentValues>
<propertyName>send-message-body</propertyName>
                            </dependencies>
                            <name>form-body-form-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>set-form-filename</key>
                        <value>
                            <dependencies>
<propertyName>form-body-form-name</propertyName>
                            </dependencies>
                            <name>set-form-filename</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Use Chunked Encoding</key>
                        <value>
                            <dependencies>
<dependentValues>POST</dependentValues>
<dependentValues>PATCH</dependentValues>
<dependentValues>PUT</dependentValues>
<propertyName>HTTP Method</propertyName>
                            </dependencies>
                            <name>Use Chunked Encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content-Encoding</key>
                        <value>
                            <dependencies>
<dependentValues>POST</dependentValues>
<dependentValues>PATCH</dependentValues>
<dependentValues>PUT</dependentValues>
<propertyName>HTTP Method</propertyName>
                            </dependencies>
                            <name>Content-Encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content-Type</key>
                        <value>
                            <dependencies>
<dependentValues>POST</dependentValues>
<dependentValues>PATCH</dependentValues>
<dependentValues>PUT</dependentValues>
<propertyName>HTTP Method</propertyName>
                            </dependencies>
                            <name>Content-Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Include Date Header</key>
                        <value>
                            <name>Include Date Header</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Send</key>
                        <value>
                            <name>Attributes to Send</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Useragent</key>
                        <value>
                            <name>Useragent</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Put Response Body In Attribute</key>
                        <value>
                            <name>Put Response Body In Attribute</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Length To Put In Attribute</key>
                        <value>
                            <dependencies>
<propertyName>Put Response Body In Attribute</propertyName>
                            </dependencies>
                            <name>Max Length To Put In Attribute</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ignore-response-content</key>
                        <value>
                            <name>ignore-response-content</name>
                        </value>
                    </entry>
                    <entry>
                        <key>use-etag</key>
                        <value>
                            <name>use-etag</name>
                        </value>
                    </entry>
                    <entry>
                        <key>etag-max-cache-size</key>
                        <value>
                            <dependencies>
<dependentValues>true</dependentValues>
<propertyName>use-etag</propertyName>
                            </dependencies>
                            <name>etag-max-cache-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>cookie-strategy</key>
                        <value>
                            <name>cookie-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Always Output Response</key>
                        <value>
                            <name>Always Output Response</name>
                        </value>
                    </entry>
                    <entry>
                        <key>flow-file-naming-strategy</key>
                        <value>
                            <name>flow-file-naming-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Add Response Headers to Request</key>
                        <value>
                            <name>Add Response Headers to Request</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>
                            <name>Follow Redirects</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Cookie</key>
                        <value>
                            <name>Cookie</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>HTTP Method</key>
                        <value>GET</value>
                    </entry>
                    <entry>
                        <key>Remote URL</key>
                        <value>http://api.olhovivo.sptrans.com.br/v2.1/Posicao/Linha?codigoLinha=1711</value>
                    </entry>
                    <entry>
                        <key>disable-http2</key>
                        <value>False</value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>5 secs</value>
                    </entry>
                    <entry>
                        <key>Read Timeout</key>
                        <value>15 secs</value>
                    </entry>
                    <entry>
                        <key>Socket Write Timeout</key>
                        <value>15 secs</value>
                    </entry>
                    <entry>
                        <key>idle-timeout</key>
                        <value>5 mins</value>
                    </entry>
                    <entry>
                        <key>max-idle-connections</key>
                        <value>5</value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                    </entry>
                    <entry>
                        <key>Proxy Type</key>
                        <value>http</value>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-user</key>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-password</key>
                    </entry>
                    <entry>
                        <key>oauth2-access-token-provider</key>
                    </entry>
                    <entry>
                        <key>Basic Authentication Username</key>
                    </entry>
                    <entry>
                        <key>Basic Authentication Password</key>
                    </entry>
                    <entry>
                        <key>Digest Authentication</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Penalize on "No Retry"</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>send-message-body</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>form-body-form-name</key>
                    </entry>
                    <entry>
                        <key>set-form-filename</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Use Chunked Encoding</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Content-Encoding</key>
                        <value>DISABLED</value>
                    </entry>
                    <entry>
                        <key>Content-Type</key>
                        <value>${mime.type}</value>
                    </entry>
                    <entry>
                        <key>Include Date Header</key>
                        <value>True</value>
                    </entry>
                    <entry>
                        <key>Attributes to Send</key>
                    </entry>
                    <entry>
                        <key>Useragent</key>
                    </entry>
                    <entry>
                        <key>Put Response Body In Attribute</key>
                    </entry>
                    <entry>
                        <key>Max Length To Put In Attribute</key>
                        <value>256</value>
                    </entry>
                    <entry>
                        <key>ignore-response-content</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>use-etag</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>etag-max-cache-size</key>
                        <value>10MB</value>
                    </entry>
                    <entry>
                        <key>cookie-strategy</key>
                        <value>ACCEPT_ALL</value>
                    </entry>
                    <entry>
                        <key>Always Output Response</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>flow-file-naming-strategy</key>
                        <value>RANDOM</value>
                    </entry>
                    <entry>
                        <key>Add Response Headers to Request</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>False</value>
                    </entry>
                    <entry>
                        <key>Cookie</key>
                        <value>${Set-Cookie}</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>2 min</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>getPosition1711</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>Failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>No Retry</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>Original</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>Response</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>Retry</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
        </processors>
        <processors>
            <id>5eb1d992-fb04-3fb4-0000-000000000000</id>
            <parentGroupId>29d8824a-8218-3296-0000-000000000000</parentGroupId>
            <position>
                <x>472.0</x>
                <y>648.0</y>
            </position>
            <bundle>
                <artifact>nifi-aws-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.27.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Object Key</key>
                        <value>
                            <name>Object Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Bucket</key>
                        <value>
                            <name>Bucket</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content Type</key>
                        <value>
                            <name>Content Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content Disposition</key>
                        <value>
                            <name>Content Disposition</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Cache Control</key>
                        <value>
                            <name>Cache Control</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Access Key</key>
                        <value>
                            <name>Access Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Secret Key</key>
                        <value>
                            <name>Secret Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Credentials File</key>
                        <value>
                            <name>Credentials File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>AWS Credentials Provider service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
                            <name>AWS Credentials Provider service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>s3-object-tags-prefix</key>
                        <value>
                            <name>s3-object-tags-prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>s3-object-remove-tags-prefix</key>
                        <value>
                            <name>s3-object-remove-tags-prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Storage Class</key>
                        <value>
                            <name>Storage Class</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Region</key>
                        <value>
                            <name>Region</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Communications Timeout</key>
                        <value>
                            <name>Communications Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Expiration Time Rule</key>
                        <value>
                            <name>Expiration Time Rule</name>
                        </value>
                    </entry>
                    <entry>
                        <key>FullControl User List</key>
                        <value>
                            <name>FullControl User List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Read Permission User List</key>
                        <value>
                            <name>Read Permission User List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Write Permission User List</key>
                        <value>
                            <name>Write Permission User List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Read ACL User List</key>
                        <value>
                            <name>Read ACL User List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Write ACL User List</key>
                        <value>
                            <name>Write ACL User List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Owner</key>
                        <value>
                            <name>Owner</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canned-acl</key>
                        <value>
                            <name>canned-acl</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Endpoint Override URL</key>
                        <value>
                            <name>Endpoint Override URL</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Signer Override</key>
                        <value>
                            <name>Signer Override</name>
                        </value>
                    </entry>
                    <entry>
                        <key>custom-signer-class-name</key>
                        <value>
                            <dependencies>
<dependentValues>CustomSignerType</dependentValues>
<propertyName>Signer Override</propertyName>
                            </dependencies>
                            <name>custom-signer-class-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>custom-signer-module-location</key>
                        <value>
                            <dependencies>
<dependentValues>CustomSignerType</dependentValues>
<propertyName>Signer Override</propertyName>
                            </dependencies>
                            <name>custom-signer-module-location</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Multipart Threshold</key>
                        <value>
                            <name>Multipart Threshold</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Multipart Part Size</key>
                        <value>
                            <name>Multipart Part Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Multipart Upload AgeOff Interval</key>
                        <value>
                            <name>Multipart Upload AgeOff Interval</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Multipart Upload Max Age Threshold</key>
                        <value>
                            <name>Multipart Upload Max Age Threshold</name>
                        </value>
                    </entry>
                    <entry>
                        <key>s3-temporary-directory-multipart</key>
                        <value>
                            <name>s3-temporary-directory-multipart</name>
                        </value>
                    </entry>
                    <entry>
                        <key>server-side-encryption</key>
                        <value>
                            <name>server-side-encryption</name>
                        </value>
                    </entry>
                    <entry>
                        <key>encryption-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.processors.aws.s3.AmazonS3EncryptionService</identifiesControllerService>
                            <name>encryption-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>use-chunked-encoding</key>
                        <value>
                            <name>use-chunked-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>use-path-style-access</key>
                        <value>
                            <name>use-path-style-access</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                            <name>proxy-configuration-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                        <value>
                            <name>Proxy Host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host Port</key>
                        <value>
                            <name>Proxy Host Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-user-name</key>
                        <value>
                            <name>proxy-user-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-user-password</key>
                        <value>
                            <name>proxy-user-password</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Object Key</key>
                        <value>/stop/${filename}.json</value>
                    </entry>
                    <entry>
                        <key>Bucket</key>
                        <value>raw</value>
                    </entry>
                    <entry>
                        <key>Content Type</key>
                    </entry>
                    <entry>
                        <key>Content Disposition</key>
                    </entry>
                    <entry>
                        <key>Cache Control</key>
                    </entry>
                    <entry>
                        <key>Access Key</key>
                    </entry>
                    <entry>
                        <key>Secret Key</key>
                    </entry>
                    <entry>
                        <key>Credentials File</key>
                    </entry>
                    <entry>
                        <key>AWS Credentials Provider service</key>
                    </entry>
                    <entry>
                        <key>s3-object-tags-prefix</key>
                    </entry>
                    <entry>
                        <key>s3-object-remove-tags-prefix</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Storage Class</key>
                        <value>Standard</value>
                    </entry>
                    <entry>
                        <key>Region</key>
                        <value>us-west-2</value>
                    </entry>
                    <entry>
                        <key>Communications Timeout</key>
                        <value>30 secs</value>
                    </entry>
                    <entry>
                        <key>Expiration Time Rule</key>
                    </entry>
                    <entry>
                        <key>FullControl User List</key>
                        <value>${s3.permissions.full.users}</value>
                    </entry>
                    <entry>
                        <key>Read Permission User List</key>
                        <value>${s3.permissions.read.users}</value>
                    </entry>
                    <entry>
                        <key>Write Permission User List</key>
                        <value>${s3.permissions.write.users}</value>
                    </entry>
                    <entry>
                        <key>Read ACL User List</key>
                        <value>${s3.permissions.readacl.users}</value>
                    </entry>
                    <entry>
                        <key>Write ACL User List</key>
                        <value>${s3.permissions.writeacl.users}</value>
                    </entry>
                    <entry>
                        <key>Owner</key>
                        <value>${s3.owner}</value>
                    </entry>
                    <entry>
                        <key>canned-acl</key>
                        <value>${s3.permissions.cannedacl}</value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                    </entry>
                    <entry>
                        <key>Endpoint Override URL</key>
                        <value>http://minio:9000</value>
                    </entry>
                    <entry>
                        <key>Signer Override</key>
                        <value>Default Signature</value>
                    </entry>
                    <entry>
                        <key>custom-signer-class-name</key>
                    </entry>
                    <entry>
                        <key>custom-signer-module-location</key>
                    </entry>
                    <entry>
                        <key>Multipart Threshold</key>
                        <value>5 GB</value>
                    </entry>
                    <entry>
                        <key>Multipart Part Size</key>
                        <value>5 GB</value>
                    </entry>
                    <entry>
                        <key>Multipart Upload AgeOff Interval</key>
                        <value>60 min</value>
                    </entry>
                    <entry>
                        <key>Multipart Upload Max Age Threshold</key>
                        <value>7 days</value>
                    </entry>
                    <entry>
                        <key>s3-temporary-directory-multipart</key>
                        <value>${java.io.tmpdir}</value>
                    </entry>
                    <entry>
                        <key>server-side-encryption</key>
                        <value>None</value>
                    </entry>
                    <entry>
                        <key>encryption-service</key>
                    </entry>
                    <entry>
                        <key>use-chunked-encoding</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>use-path-style-access</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                    </entry>
                    <entry>
                        <key>Proxy Host Port</key>
                    </entry>
                    <entry>
                        <key>proxy-user-name</key>
                    </entry>
                    <entry>
                        <key>proxy-user-password</key>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>2 min</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutStopS31711</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.aws.s3.PutS3Object</type>
        </processors>
        <processors>
            <id>70e1fac8-eefd-396d-0000-000000000000</id>
            <parentGroupId>29d8824a-8218-3296-0000-000000000000</parentGroupId>
            <position>
                <x>472.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>70e1fac8-eefd-396d-8b0a-6b054e8d812b</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.27.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>File Size</key>
                        <value>
                            <name>File Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>
                            <name>Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Data Format</key>
                        <value>
                            <name>Data Format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Unique FlowFiles</key>
                        <value>
                            <name>Unique FlowFiles</name>
                        </value>
                    </entry>
                    <entry>
                        <key>generate-ff-custom-text</key>
                        <value>
                            <name>generate-ff-custom-text</name>
                        </value>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>
                            <name>character-set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>mime-type</key>
                        <value>
                            <name>mime-type</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>File Size</key>
                        <value>0B</value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Data Format</key>
                        <value>Text</value>
                    </entry>
                    <entry>
                        <key>Unique FlowFiles</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>generate-ff-custom-text</key>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>mime-type</key>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>10 min</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>GenerateFlowFile</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
        </processors>
        <processors>
            <id>727de4ce-0943-3347-0000-000000000000</id>
            <parentGroupId>29d8824a-8218-3296-0000-000000000000</parentGroupId>
            <position>
                <x>952.0</x>
                <y>648.0</y>
            </position>
            <bundle>
                <artifact>nifi-aws-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.27.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Object Key</key>
                        <value>
                            <name>Object Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Bucket</key>
                        <value>
                            <name>Bucket</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content Type</key>
                        <value>
                            <name>Content Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content Disposition</key>
                        <value>
                            <name>Content Disposition</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Cache Control</key>
                        <value>
                            <name>Cache Control</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Access Key</key>
                        <value>
                            <name>Access Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Secret Key</key>
                        <value>
                            <name>Secret Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Credentials File</key>
                        <value>
                            <name>Credentials File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>AWS Credentials Provider service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
                            <name>AWS Credentials Provider service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>s3-object-tags-prefix</key>
                        <value>
                            <name>s3-object-tags-prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>s3-object-remove-tags-prefix</key>
                        <value>
                            <name>s3-object-remove-tags-prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Storage Class</key>
                        <value>
                            <name>Storage Class</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Region</key>
                        <value>
                            <name>Region</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Communications Timeout</key>
                        <value>
                            <name>Communications Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Expiration Time Rule</key>
                        <value>
                            <name>Expiration Time Rule</name>
                        </value>
                    </entry>
                    <entry>
                        <key>FullControl User List</key>
                        <value>
                            <name>FullControl User List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Read Permission User List</key>
                        <value>
                            <name>Read Permission User List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Write Permission User List</key>
                        <value>
                            <name>Write Permission User List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Read ACL User List</key>
                        <value>
                            <name>Read ACL User List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Write ACL User List</key>
                        <value>
                            <name>Write ACL User List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Owner</key>
                        <value>
                            <name>Owner</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canned-acl</key>
                        <value>
                            <name>canned-acl</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Endpoint Override URL</key>
                        <value>
                            <name>Endpoint Override URL</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Signer Override</key>
                        <value>
                            <name>Signer Override</name>
                        </value>
                    </entry>
                    <entry>
                        <key>custom-signer-class-name</key>
                        <value>
                            <dependencies>
<dependentValues>CustomSignerType</dependentValues>
<propertyName>Signer Override</propertyName>
                            </dependencies>
                            <name>custom-signer-class-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>custom-signer-module-location</key>
                        <value>
                            <dependencies>
<dependentValues>CustomSignerType</dependentValues>
<propertyName>Signer Override</propertyName>
                            </dependencies>
                            <name>custom-signer-module-location</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Multipart Threshold</key>
                        <value>
                            <name>Multipart Threshold</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Multipart Part Size</key>
                        <value>
                            <name>Multipart Part Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Multipart Upload AgeOff Interval</key>
                        <value>
                            <name>Multipart Upload AgeOff Interval</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Multipart Upload Max Age Threshold</key>
                        <value>
                            <name>Multipart Upload Max Age Threshold</name>
                        </value>
                    </entry>
                    <entry>
                        <key>s3-temporary-directory-multipart</key>
                        <value>
                            <name>s3-temporary-directory-multipart</name>
                        </value>
                    </entry>
                    <entry>
                        <key>server-side-encryption</key>
                        <value>
                            <name>server-side-encryption</name>
                        </value>
                    </entry>
                    <entry>
                        <key>encryption-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.processors.aws.s3.AmazonS3EncryptionService</identifiesControllerService>
                            <name>encryption-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>use-chunked-encoding</key>
                        <value>
                            <name>use-chunked-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>use-path-style-access</key>
                        <value>
                            <name>use-path-style-access</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                            <name>proxy-configuration-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                        <value>
                            <name>Proxy Host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host Port</key>
                        <value>
                            <name>Proxy Host Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-user-name</key>
                        <value>
                            <name>proxy-user-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-user-password</key>
                        <value>
                            <name>proxy-user-password</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Object Key</key>
                        <value>/prev/${filename}.json</value>
                    </entry>
                    <entry>
                        <key>Bucket</key>
                        <value>raw</value>
                    </entry>
                    <entry>
                        <key>Content Type</key>
                    </entry>
                    <entry>
                        <key>Content Disposition</key>
                    </entry>
                    <entry>
                        <key>Cache Control</key>
                    </entry>
                    <entry>
                        <key>Access Key</key>
                    </entry>
                    <entry>
                        <key>Secret Key</key>
                    </entry>
                    <entry>
                        <key>Credentials File</key>
                    </entry>
                    <entry>
                        <key>AWS Credentials Provider service</key>
                    </entry>
                    <entry>
                        <key>s3-object-tags-prefix</key>
                    </entry>
                    <entry>
                        <key>s3-object-remove-tags-prefix</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Storage Class</key>
                        <value>Standard</value>
                    </entry>
                    <entry>
                        <key>Region</key>
                        <value>us-west-2</value>
                    </entry>
                    <entry>
                        <key>Communications Timeout</key>
                        <value>30 secs</value>
                    </entry>
                    <entry>
                        <key>Expiration Time Rule</key>
                    </entry>
                    <entry>
                        <key>FullControl User List</key>
                        <value>${s3.permissions.full.users}</value>
                    </entry>
                    <entry>
                        <key>Read Permission User List</key>
                        <value>${s3.permissions.read.users}</value>
                    </entry>
                    <entry>
                        <key>Write Permission User List</key>
                        <value>${s3.permissions.write.users}</value>
                    </entry>
                    <entry>
                        <key>Read ACL User List</key>
                        <value>${s3.permissions.readacl.users}</value>
                    </entry>
                    <entry>
                        <key>Write ACL User List</key>
                        <value>${s3.permissions.writeacl.users}</value>
                    </entry>
                    <entry>
                        <key>Owner</key>
                        <value>${s3.owner}</value>
                    </entry>
                    <entry>
                        <key>canned-acl</key>
                        <value>${s3.permissions.cannedacl}</value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                    </entry>
                    <entry>
                        <key>Endpoint Override URL</key>
                        <value>http://minio:9000</value>
                    </entry>
                    <entry>
                        <key>Signer Override</key>
                        <value>Default Signature</value>
                    </entry>
                    <entry>
                        <key>custom-signer-class-name</key>
                    </entry>
                    <entry>
                        <key>custom-signer-module-location</key>
                    </entry>
                    <entry>
                        <key>Multipart Threshold</key>
                        <value>5 GB</value>
                    </entry>
                    <entry>
                        <key>Multipart Part Size</key>
                        <value>5 GB</value>
                    </entry>
                    <entry>
                        <key>Multipart Upload AgeOff Interval</key>
                        <value>60 min</value>
                    </entry>
                    <entry>
                        <key>Multipart Upload Max Age Threshold</key>
                        <value>7 days</value>
                    </entry>
                    <entry>
                        <key>s3-temporary-directory-multipart</key>
                        <value>${java.io.tmpdir}</value>
                    </entry>
                    <entry>
                        <key>server-side-encryption</key>
                        <value>None</value>
                    </entry>
                    <entry>
                        <key>encryption-service</key>
                    </entry>
                    <entry>
                        <key>use-chunked-encoding</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>use-path-style-access</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                    </entry>
                    <entry>
                        <key>Proxy Host Port</key>
                    </entry>
                    <entry>
                        <key>proxy-user-name</key>
                    </entry>
                    <entry>
                        <key>proxy-user-password</key>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>2 min</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutPrevS31711</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.aws.s3.PutS3Object</type>
        </processors>
        <processors>
            <id>72f16959-df6c-3d8f-0000-000000000000</id>
            <parentGroupId>29d8824a-8218-3296-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>648.0</y>
            </position>
            <versionedComponentId>72f16959-df6c-3d8f-96af-05bcde36f82f</versionedComponentId>
            <bundle>
                <artifact>nifi-aws-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.27.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Object Key</key>
                        <value>
                            <name>Object Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Bucket</key>
                        <value>
                            <name>Bucket</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content Type</key>
                        <value>
                            <name>Content Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content Disposition</key>
                        <value>
                            <name>Content Disposition</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Cache Control</key>
                        <value>
                            <name>Cache Control</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Access Key</key>
                        <value>
                            <name>Access Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Secret Key</key>
                        <value>
                            <name>Secret Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Credentials File</key>
                        <value>
                            <name>Credentials File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>AWS Credentials Provider service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
                            <name>AWS Credentials Provider service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>s3-object-tags-prefix</key>
                        <value>
                            <name>s3-object-tags-prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>s3-object-remove-tags-prefix</key>
                        <value>
                            <name>s3-object-remove-tags-prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Storage Class</key>
                        <value>
                            <name>Storage Class</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Region</key>
                        <value>
                            <name>Region</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Communications Timeout</key>
                        <value>
                            <name>Communications Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Expiration Time Rule</key>
                        <value>
                            <name>Expiration Time Rule</name>
                        </value>
                    </entry>
                    <entry>
                        <key>FullControl User List</key>
                        <value>
                            <name>FullControl User List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Read Permission User List</key>
                        <value>
                            <name>Read Permission User List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Write Permission User List</key>
                        <value>
                            <name>Write Permission User List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Read ACL User List</key>
                        <value>
                            <name>Read ACL User List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Write ACL User List</key>
                        <value>
                            <name>Write ACL User List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Owner</key>
                        <value>
                            <name>Owner</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canned-acl</key>
                        <value>
                            <name>canned-acl</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Endpoint Override URL</key>
                        <value>
                            <name>Endpoint Override URL</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Signer Override</key>
                        <value>
                            <name>Signer Override</name>
                        </value>
                    </entry>
                    <entry>
                        <key>custom-signer-class-name</key>
                        <value>
                            <dependencies>
<dependentValues>CustomSignerType</dependentValues>
<propertyName>Signer Override</propertyName>
                            </dependencies>
                            <name>custom-signer-class-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>custom-signer-module-location</key>
                        <value>
                            <dependencies>
<dependentValues>CustomSignerType</dependentValues>
<propertyName>Signer Override</propertyName>
                            </dependencies>
                            <name>custom-signer-module-location</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Multipart Threshold</key>
                        <value>
                            <name>Multipart Threshold</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Multipart Part Size</key>
                        <value>
                            <name>Multipart Part Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Multipart Upload AgeOff Interval</key>
                        <value>
                            <name>Multipart Upload AgeOff Interval</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Multipart Upload Max Age Threshold</key>
                        <value>
                            <name>Multipart Upload Max Age Threshold</name>
                        </value>
                    </entry>
                    <entry>
                        <key>s3-temporary-directory-multipart</key>
                        <value>
                            <name>s3-temporary-directory-multipart</name>
                        </value>
                    </entry>
                    <entry>
                        <key>server-side-encryption</key>
                        <value>
                            <name>server-side-encryption</name>
                        </value>
                    </entry>
                    <entry>
                        <key>encryption-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.processors.aws.s3.AmazonS3EncryptionService</identifiesControllerService>
                            <name>encryption-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>use-chunked-encoding</key>
                        <value>
                            <name>use-chunked-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>use-path-style-access</key>
                        <value>
                            <name>use-path-style-access</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                            <name>proxy-configuration-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                        <value>
                            <name>Proxy Host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host Port</key>
                        <value>
                            <name>Proxy Host Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-user-name</key>
                        <value>
                            <name>proxy-user-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-user-password</key>
                        <value>
                            <name>proxy-user-password</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Object Key</key>
                        <value>/position/${filename}.json</value>
                    </entry>
                    <entry>
                        <key>Bucket</key>
                        <value>raw</value>
                    </entry>
                    <entry>
                        <key>Content Type</key>
                    </entry>
                    <entry>
                        <key>Content Disposition</key>
                    </entry>
                    <entry>
                        <key>Cache Control</key>
                    </entry>
                    <entry>
                        <key>Access Key</key>
                    </entry>
                    <entry>
                        <key>Secret Key</key>
                    </entry>
                    <entry>
                        <key>Credentials File</key>
                    </entry>
                    <entry>
                        <key>AWS Credentials Provider service</key>
                    </entry>
                    <entry>
                        <key>s3-object-tags-prefix</key>
                    </entry>
                    <entry>
                        <key>s3-object-remove-tags-prefix</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Storage Class</key>
                        <value>Standard</value>
                    </entry>
                    <entry>
                        <key>Region</key>
                        <value>us-west-2</value>
                    </entry>
                    <entry>
                        <key>Communications Timeout</key>
                        <value>30 secs</value>
                    </entry>
                    <entry>
                        <key>Expiration Time Rule</key>
                    </entry>
                    <entry>
                        <key>FullControl User List</key>
                        <value>${s3.permissions.full.users}</value>
                    </entry>
                    <entry>
                        <key>Read Permission User List</key>
                        <value>${s3.permissions.read.users}</value>
                    </entry>
                    <entry>
                        <key>Write Permission User List</key>
                        <value>${s3.permissions.write.users}</value>
                    </entry>
                    <entry>
                        <key>Read ACL User List</key>
                        <value>${s3.permissions.readacl.users}</value>
                    </entry>
                    <entry>
                        <key>Write ACL User List</key>
                        <value>${s3.permissions.writeacl.users}</value>
                    </entry>
                    <entry>
                        <key>Owner</key>
                        <value>${s3.owner}</value>
                    </entry>
                    <entry>
                        <key>canned-acl</key>
                        <value>${s3.permissions.cannedacl}</value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                    </entry>
                    <entry>
                        <key>Endpoint Override URL</key>
                        <value>http://minio:9000</value>
                    </entry>
                    <entry>
                        <key>Signer Override</key>
                        <value>Default Signature</value>
                    </entry>
                    <entry>
                        <key>custom-signer-class-name</key>
                    </entry>
                    <entry>
                        <key>custom-signer-module-location</key>
                    </entry>
                    <entry>
                        <key>Multipart Threshold</key>
                        <value>5 GB</value>
                    </entry>
                    <entry>
                        <key>Multipart Part Size</key>
                        <value>5 GB</value>
                    </entry>
                    <entry>
                        <key>Multipart Upload AgeOff Interval</key>
                        <value>60 min</value>
                    </entry>
                    <entry>
                        <key>Multipart Upload Max Age Threshold</key>
                        <value>7 days</value>
                    </entry>
                    <entry>
                        <key>s3-temporary-directory-multipart</key>
                        <value>${java.io.tmpdir}</value>
                    </entry>
                    <entry>
                        <key>server-side-encryption</key>
                        <value>None</value>
                    </entry>
                    <entry>
                        <key>encryption-service</key>
                    </entry>
                    <entry>
                        <key>use-chunked-encoding</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>use-path-style-access</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                    </entry>
                    <entry>
                        <key>Proxy Host Port</key>
                    </entry>
                    <entry>
                        <key>proxy-user-name</key>
                    </entry>
                    <entry>
                        <key>proxy-user-password</key>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>2 min</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutPositionS31711</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.aws.s3.PutS3Object</type>
        </processors>
        <processors>
            <id>8960851d-bec2-3b06-0000-000000000000</id>
            <parentGroupId>29d8824a-8218-3296-0000-000000000000</parentGroupId>
            <position>
                <x>472.0</x>
                <y>440.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.27.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>HTTP Method</key>
                        <value>
                            <name>HTTP Method</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Remote URL</key>
                        <value>
                            <name>Remote URL</name>
                        </value>
                    </entry>
                    <entry>
                        <key>disable-http2</key>
                        <value>
                            <name>disable-http2</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>
                            <name>Connection Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Read Timeout</key>
                        <value>
                            <name>Read Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Socket Write Timeout</key>
                        <value>
                            <name>Socket Write Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>idle-timeout</key>
                        <value>
                            <name>idle-timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-idle-connections</key>
                        <value>
                            <name>max-idle-connections</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                            <name>proxy-configuration-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                        <value>
                            <name>Proxy Host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                        <value>
                            <dependencies>
<propertyName>Proxy Host</propertyName>
                            </dependencies>
                            <name>Proxy Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Type</key>
                        <value>
                            <dependencies>
<propertyName>Proxy Host</propertyName>
                            </dependencies>
                            <name>Proxy Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-user</key>
                        <value>
                            <dependencies>
<propertyName>Proxy Host</propertyName>
                            </dependencies>
                            <name>invokehttp-proxy-user</name>
                        </value>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-password</key>
                        <value>
                            <dependencies>
<propertyName>Proxy Host</propertyName>
                            </dependencies>
                            <name>invokehttp-proxy-password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>oauth2-access-token-provider</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.oauth2.OAuth2AccessTokenProvider</identifiesControllerService>
                            <name>oauth2-access-token-provider</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Basic Authentication Username</key>
                        <value>
                            <name>Basic Authentication Username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Basic Authentication Password</key>
                        <value>
                            <name>Basic Authentication Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Digest Authentication</key>
                        <value>
                            <dependencies>
<propertyName>Basic Authentication Username</propertyName>
                            </dependencies>
                            <name>Digest Authentication</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Penalize on "No Retry"</key>
                        <value>
                            <name>Penalize on "No Retry"</name>
                        </value>
                    </entry>
                    <entry>
                        <key>send-message-body</key>
                        <value>
                            <dependencies>
<dependentValues>POST</dependentValues>
<dependentValues>PATCH</dependentValues>
<dependentValues>PUT</dependentValues>
<propertyName>HTTP Method</propertyName>
                            </dependencies>
                            <name>send-message-body</name>
                        </value>
                    </entry>
                    <entry>
                        <key>form-body-form-name</key>
                        <value>
                            <dependencies>
<dependentValues>true</dependentValues>
<propertyName>send-message-body</propertyName>
                            </dependencies>
                            <name>form-body-form-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>set-form-filename</key>
                        <value>
                            <dependencies>
<propertyName>form-body-form-name</propertyName>
                            </dependencies>
                            <name>set-form-filename</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Use Chunked Encoding</key>
                        <value>
                            <dependencies>
<dependentValues>POST</dependentValues>
<dependentValues>PATCH</dependentValues>
<dependentValues>PUT</dependentValues>
<propertyName>HTTP Method</propertyName>
                            </dependencies>
                            <name>Use Chunked Encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content-Encoding</key>
                        <value>
                            <dependencies>
<dependentValues>POST</dependentValues>
<dependentValues>PATCH</dependentValues>
<dependentValues>PUT</dependentValues>
<propertyName>HTTP Method</propertyName>
                            </dependencies>
                            <name>Content-Encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content-Type</key>
                        <value>
                            <dependencies>
<dependentValues>POST</dependentValues>
<dependentValues>PATCH</dependentValues>
<dependentValues>PUT</dependentValues>
<propertyName>HTTP Method</propertyName>
                            </dependencies>
                            <name>Content-Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Include Date Header</key>
                        <value>
                            <name>Include Date Header</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Send</key>
                        <value>
                            <name>Attributes to Send</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Useragent</key>
                        <value>
                            <name>Useragent</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Put Response Body In Attribute</key>
                        <value>
                            <name>Put Response Body In Attribute</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Length To Put In Attribute</key>
                        <value>
                            <dependencies>
<propertyName>Put Response Body In Attribute</propertyName>
                            </dependencies>
                            <name>Max Length To Put In Attribute</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ignore-response-content</key>
                        <value>
                            <name>ignore-response-content</name>
                        </value>
                    </entry>
                    <entry>
                        <key>use-etag</key>
                        <value>
                            <name>use-etag</name>
                        </value>
                    </entry>
                    <entry>
                        <key>etag-max-cache-size</key>
                        <value>
                            <dependencies>
<dependentValues>true</dependentValues>
<propertyName>use-etag</propertyName>
                            </dependencies>
                            <name>etag-max-cache-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>cookie-strategy</key>
                        <value>
                            <name>cookie-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Always Output Response</key>
                        <value>
                            <name>Always Output Response</name>
                        </value>
                    </entry>
                    <entry>
                        <key>flow-file-naming-strategy</key>
                        <value>
                            <name>flow-file-naming-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Add Response Headers to Request</key>
                        <value>
                            <name>Add Response Headers to Request</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>
                            <name>Follow Redirects</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Cookie</key>
                        <value>
                            <name>Cookie</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>HTTP Method</key>
                        <value>GET</value>
                    </entry>
                    <entry>
                        <key>Remote URL</key>
                        <value>http://api.olhovivo.sptrans.com.br/v2.1/Parada/BuscarParadasPorLinha?codigoLinha=1711</value>
                    </entry>
                    <entry>
                        <key>disable-http2</key>
                        <value>False</value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>5 secs</value>
                    </entry>
                    <entry>
                        <key>Read Timeout</key>
                        <value>15 secs</value>
                    </entry>
                    <entry>
                        <key>Socket Write Timeout</key>
                        <value>15 secs</value>
                    </entry>
                    <entry>
                        <key>idle-timeout</key>
                        <value>5 mins</value>
                    </entry>
                    <entry>
                        <key>max-idle-connections</key>
                        <value>5</value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                    </entry>
                    <entry>
                        <key>Proxy Type</key>
                        <value>http</value>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-user</key>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-password</key>
                    </entry>
                    <entry>
                        <key>oauth2-access-token-provider</key>
                    </entry>
                    <entry>
                        <key>Basic Authentication Username</key>
                    </entry>
                    <entry>
                        <key>Basic Authentication Password</key>
                    </entry>
                    <entry>
                        <key>Digest Authentication</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Penalize on "No Retry"</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>send-message-body</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>form-body-form-name</key>
                    </entry>
                    <entry>
                        <key>set-form-filename</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Use Chunked Encoding</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Content-Encoding</key>
                        <value>DISABLED</value>
                    </entry>
                    <entry>
                        <key>Content-Type</key>
                        <value>${mime.type}</value>
                    </entry>
                    <entry>
                        <key>Include Date Header</key>
                        <value>True</value>
                    </entry>
                    <entry>
                        <key>Attributes to Send</key>
                    </entry>
                    <entry>
                        <key>Useragent</key>
                    </entry>
                    <entry>
                        <key>Put Response Body In Attribute</key>
                    </entry>
                    <entry>
                        <key>Max Length To Put In Attribute</key>
                        <value>256</value>
                    </entry>
                    <entry>
                        <key>ignore-response-content</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>use-etag</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>etag-max-cache-size</key>
                        <value>10MB</value>
                    </entry>
                    <entry>
                        <key>cookie-strategy</key>
                        <value>ACCEPT_ALL</value>
                    </entry>
                    <entry>
                        <key>Always Output Response</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>flow-file-naming-strategy</key>
                        <value>RANDOM</value>
                    </entry>
                    <entry>
                        <key>Add Response Headers to Request</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>False</value>
                    </entry>
                    <entry>
                        <key>Cookie</key>
                        <value>${Set-Cookie}</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>2 min</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>getStop1711</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>Failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>No Retry</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>Original</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>Response</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>Retry</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
        </processors>
        <processors>
            <id>a482bcf3-131a-3bee-0000-000000000000</id>
            <parentGroupId>29d8824a-8218-3296-0000-000000000000</parentGroupId>
            <position>
                <x>952.0</x>
                <y>440.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.27.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>HTTP Method</key>
                        <value>
                            <name>HTTP Method</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Remote URL</key>
                        <value>
                            <name>Remote URL</name>
                        </value>
                    </entry>
                    <entry>
                        <key>disable-http2</key>
                        <value>
                            <name>disable-http2</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>
                            <name>Connection Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Read Timeout</key>
                        <value>
                            <name>Read Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Socket Write Timeout</key>
                        <value>
                            <name>Socket Write Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>idle-timeout</key>
                        <value>
                            <name>idle-timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-idle-connections</key>
                        <value>
                            <name>max-idle-connections</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                            <name>proxy-configuration-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                        <value>
                            <name>Proxy Host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                        <value>
                            <dependencies>
<propertyName>Proxy Host</propertyName>
                            </dependencies>
                            <name>Proxy Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Type</key>
                        <value>
                            <dependencies>
<propertyName>Proxy Host</propertyName>
                            </dependencies>
                            <name>Proxy Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-user</key>
                        <value>
                            <dependencies>
<propertyName>Proxy Host</propertyName>
                            </dependencies>
                            <name>invokehttp-proxy-user</name>
                        </value>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-password</key>
                        <value>
                            <dependencies>
<propertyName>Proxy Host</propertyName>
                            </dependencies>
                            <name>invokehttp-proxy-password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>oauth2-access-token-provider</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.oauth2.OAuth2AccessTokenProvider</identifiesControllerService>
                            <name>oauth2-access-token-provider</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Basic Authentication Username</key>
                        <value>
                            <name>Basic Authentication Username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Basic Authentication Password</key>
                        <value>
                            <name>Basic Authentication Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Digest Authentication</key>
                        <value>
                            <dependencies>
<propertyName>Basic Authentication Username</propertyName>
                            </dependencies>
                            <name>Digest Authentication</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Penalize on "No Retry"</key>
                        <value>
                            <name>Penalize on "No Retry"</name>
                        </value>
                    </entry>
                    <entry>
                        <key>send-message-body</key>
                        <value>
                            <dependencies>
<dependentValues>POST</dependentValues>
<dependentValues>PATCH</dependentValues>
<dependentValues>PUT</dependentValues>
<propertyName>HTTP Method</propertyName>
                            </dependencies>
                            <name>send-message-body</name>
                        </value>
                    </entry>
                    <entry>
                        <key>form-body-form-name</key>
                        <value>
                            <dependencies>
<dependentValues>true</dependentValues>
<propertyName>send-message-body</propertyName>
                            </dependencies>
                            <name>form-body-form-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>set-form-filename</key>
                        <value>
                            <dependencies>
<propertyName>form-body-form-name</propertyName>
                            </dependencies>
                            <name>set-form-filename</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Use Chunked Encoding</key>
                        <value>
                            <dependencies>
<dependentValues>POST</dependentValues>
<dependentValues>PATCH</dependentValues>
<dependentValues>PUT</dependentValues>
<propertyName>HTTP Method</propertyName>
                            </dependencies>
                            <name>Use Chunked Encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content-Encoding</key>
                        <value>
                            <dependencies>
<dependentValues>POST</dependentValues>
<dependentValues>PATCH</dependentValues>
<dependentValues>PUT</dependentValues>
<propertyName>HTTP Method</propertyName>
                            </dependencies>
                            <name>Content-Encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content-Type</key>
                        <value>
                            <dependencies>
<dependentValues>POST</dependentValues>
<dependentValues>PATCH</dependentValues>
<dependentValues>PUT</dependentValues>
<propertyName>HTTP Method</propertyName>
                            </dependencies>
                            <name>Content-Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Include Date Header</key>
                        <value>
                            <name>Include Date Header</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Send</key>
                        <value>
                            <name>Attributes to Send</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Useragent</key>
                        <value>
                            <name>Useragent</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Put Response Body In Attribute</key>
                        <value>
                            <name>Put Response Body In Attribute</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Length To Put In Attribute</key>
                        <value>
                            <dependencies>
<propertyName>Put Response Body In Attribute</propertyName>
                            </dependencies>
                            <name>Max Length To Put In Attribute</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ignore-response-content</key>
                        <value>
                            <name>ignore-response-content</name>
                        </value>
                    </entry>
                    <entry>
                        <key>use-etag</key>
                        <value>
                            <name>use-etag</name>
                        </value>
                    </entry>
                    <entry>
                        <key>etag-max-cache-size</key>
                        <value>
                            <dependencies>
<dependentValues>true</dependentValues>
<propertyName>use-etag</propertyName>
                            </dependencies>
                            <name>etag-max-cache-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>cookie-strategy</key>
                        <value>
                            <name>cookie-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Always Output Response</key>
                        <value>
                            <name>Always Output Response</name>
                        </value>
                    </entry>
                    <entry>
                        <key>flow-file-naming-strategy</key>
                        <value>
                            <name>flow-file-naming-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Add Response Headers to Request</key>
                        <value>
                            <name>Add Response Headers to Request</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>
                            <name>Follow Redirects</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Cookie</key>
                        <value>
                            <name>Cookie</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>HTTP Method</key>
                        <value>GET</value>
                    </entry>
                    <entry>
                        <key>Remote URL</key>
                        <value>http://api.olhovivo.sptrans.com.br/v2.1/Previsao/Linha?codigoLinha=1711</value>
                    </entry>
                    <entry>
                        <key>disable-http2</key>
                        <value>False</value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>5 secs</value>
                    </entry>
                    <entry>
                        <key>Read Timeout</key>
                        <value>15 secs</value>
                    </entry>
                    <entry>
                        <key>Socket Write Timeout</key>
                        <value>15 secs</value>
                    </entry>
                    <entry>
                        <key>idle-timeout</key>
                        <value>5 mins</value>
                    </entry>
                    <entry>
                        <key>max-idle-connections</key>
                        <value>5</value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                    </entry>
                    <entry>
                        <key>Proxy Type</key>
                        <value>http</value>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-user</key>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-password</key>
                    </entry>
                    <entry>
                        <key>oauth2-access-token-provider</key>
                    </entry>
                    <entry>
                        <key>Basic Authentication Username</key>
                    </entry>
                    <entry>
                        <key>Basic Authentication Password</key>
                    </entry>
                    <entry>
                        <key>Digest Authentication</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Penalize on "No Retry"</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>send-message-body</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>form-body-form-name</key>
                    </entry>
                    <entry>
                        <key>set-form-filename</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Use Chunked Encoding</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Content-Encoding</key>
                        <value>DISABLED</value>
                    </entry>
                    <entry>
                        <key>Content-Type</key>
                        <value>${mime.type}</value>
                    </entry>
                    <entry>
                        <key>Include Date Header</key>
                        <value>True</value>
                    </entry>
                    <entry>
                        <key>Attributes to Send</key>
                    </entry>
                    <entry>
                        <key>Useragent</key>
                    </entry>
                    <entry>
                        <key>Put Response Body In Attribute</key>
                    </entry>
                    <entry>
                        <key>Max Length To Put In Attribute</key>
                        <value>256</value>
                    </entry>
                    <entry>
                        <key>ignore-response-content</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>use-etag</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>etag-max-cache-size</key>
                        <value>10MB</value>
                    </entry>
                    <entry>
                        <key>cookie-strategy</key>
                        <value>ACCEPT_ALL</value>
                    </entry>
                    <entry>
                        <key>Always Output Response</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>flow-file-naming-strategy</key>
                        <value>RANDOM</value>
                    </entry>
                    <entry>
                        <key>Add Response Headers to Request</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>False</value>
                    </entry>
                    <entry>
                        <key>Cookie</key>
                        <value>${Set-Cookie}</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>2 min</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>getPrev1711</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>Failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>No Retry</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>Original</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>Response</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>Retry</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
        </processors>
        <processors>
            <id>cb8f2318-41f1-3482-0000-000000000000</id>
            <parentGroupId>29d8824a-8218-3296-0000-000000000000</parentGroupId>
            <position>
                <x>472.0</x>
                <y>224.0</y>
            </position>
            <versionedComponentId>cb8f2318-41f1-3482-b62b-172928420788</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.27.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>HTTP Method</key>
                        <value>
                            <name>HTTP Method</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Remote URL</key>
                        <value>
                            <name>Remote URL</name>
                        </value>
                    </entry>
                    <entry>
                        <key>disable-http2</key>
                        <value>
                            <name>disable-http2</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>
                            <name>Connection Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Read Timeout</key>
                        <value>
                            <name>Read Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Socket Write Timeout</key>
                        <value>
                            <name>Socket Write Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>idle-timeout</key>
                        <value>
                            <name>idle-timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-idle-connections</key>
                        <value>
                            <name>max-idle-connections</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                            <name>proxy-configuration-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                        <value>
                            <name>Proxy Host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                        <value>
                            <dependencies>
<propertyName>Proxy Host</propertyName>
                            </dependencies>
                            <name>Proxy Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Type</key>
                        <value>
                            <dependencies>
<propertyName>Proxy Host</propertyName>
                            </dependencies>
                            <name>Proxy Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-user</key>
                        <value>
                            <dependencies>
<propertyName>Proxy Host</propertyName>
                            </dependencies>
                            <name>invokehttp-proxy-user</name>
                        </value>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-password</key>
                        <value>
                            <dependencies>
<propertyName>Proxy Host</propertyName>
                            </dependencies>
                            <name>invokehttp-proxy-password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>oauth2-access-token-provider</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.oauth2.OAuth2AccessTokenProvider</identifiesControllerService>
                            <name>oauth2-access-token-provider</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Basic Authentication Username</key>
                        <value>
                            <name>Basic Authentication Username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Basic Authentication Password</key>
                        <value>
                            <name>Basic Authentication Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Digest Authentication</key>
                        <value>
                            <dependencies>
<propertyName>Basic Authentication Username</propertyName>
                            </dependencies>
                            <name>Digest Authentication</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Penalize on "No Retry"</key>
                        <value>
                            <name>Penalize on "No Retry"</name>
                        </value>
                    </entry>
                    <entry>
                        <key>send-message-body</key>
                        <value>
                            <dependencies>
<dependentValues>POST</dependentValues>
<dependentValues>PATCH</dependentValues>
<dependentValues>PUT</dependentValues>
<propertyName>HTTP Method</propertyName>
                            </dependencies>
                            <name>send-message-body</name>
                        </value>
                    </entry>
                    <entry>
                        <key>form-body-form-name</key>
                        <value>
                            <dependencies>
<dependentValues>true</dependentValues>
<propertyName>send-message-body</propertyName>
                            </dependencies>
                            <name>form-body-form-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>set-form-filename</key>
                        <value>
                            <dependencies>
<propertyName>form-body-form-name</propertyName>
                            </dependencies>
                            <name>set-form-filename</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Use Chunked Encoding</key>
                        <value>
                            <dependencies>
<dependentValues>POST</dependentValues>
<dependentValues>PATCH</dependentValues>
<dependentValues>PUT</dependentValues>
<propertyName>HTTP Method</propertyName>
                            </dependencies>
                            <name>Use Chunked Encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content-Encoding</key>
                        <value>
                            <dependencies>
<dependentValues>POST</dependentValues>
<dependentValues>PATCH</dependentValues>
<dependentValues>PUT</dependentValues>
<propertyName>HTTP Method</propertyName>
                            </dependencies>
                            <name>Content-Encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content-Type</key>
                        <value>
                            <dependencies>
<dependentValues>POST</dependentValues>
<dependentValues>PATCH</dependentValues>
<dependentValues>PUT</dependentValues>
<propertyName>HTTP Method</propertyName>
                            </dependencies>
                            <name>Content-Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Include Date Header</key>
                        <value>
                            <name>Include Date Header</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Send</key>
                        <value>
                            <name>Attributes to Send</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Useragent</key>
                        <value>
                            <name>Useragent</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Put Response Body In Attribute</key>
                        <value>
                            <name>Put Response Body In Attribute</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Length To Put In Attribute</key>
                        <value>
                            <dependencies>
<propertyName>Put Response Body In Attribute</propertyName>
                            </dependencies>
                            <name>Max Length To Put In Attribute</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ignore-response-content</key>
                        <value>
                            <name>ignore-response-content</name>
                        </value>
                    </entry>
                    <entry>
                        <key>use-etag</key>
                        <value>
                            <name>use-etag</name>
                        </value>
                    </entry>
                    <entry>
                        <key>etag-max-cache-size</key>
                        <value>
                            <dependencies>
<dependentValues>true</dependentValues>
<propertyName>use-etag</propertyName>
                            </dependencies>
                            <name>etag-max-cache-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>cookie-strategy</key>
                        <value>
                            <name>cookie-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Always Output Response</key>
                        <value>
                            <name>Always Output Response</name>
                        </value>
                    </entry>
                    <entry>
                        <key>flow-file-naming-strategy</key>
                        <value>
                            <name>flow-file-naming-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Add Response Headers to Request</key>
                        <value>
                            <name>Add Response Headers to Request</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>
                            <name>Follow Redirects</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>HTTP Method</key>
                        <value>POST</value>
                    </entry>
                    <entry>
                        <key>Remote URL</key>
                        <value>http://api.olhovivo.sptrans.com.br/v2.1/Login/Autenticar?token=13c637e01655de91dcae90a9f219c23a75696e89fcc466fb736c55ffd170b209</value>
                    </entry>
                    <entry>
                        <key>disable-http2</key>
                        <value>False</value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>5 secs</value>
                    </entry>
                    <entry>
                        <key>Read Timeout</key>
                        <value>15 secs</value>
                    </entry>
                    <entry>
                        <key>Socket Write Timeout</key>
                        <value>15 secs</value>
                    </entry>
                    <entry>
                        <key>idle-timeout</key>
                        <value>5 mins</value>
                    </entry>
                    <entry>
                        <key>max-idle-connections</key>
                        <value>5</value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                    </entry>
                    <entry>
                        <key>Proxy Type</key>
                        <value>http</value>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-user</key>
                    </entry>
                    <entry>
                        <key>invokehttp-proxy-password</key>
                    </entry>
                    <entry>
                        <key>oauth2-access-token-provider</key>
                    </entry>
                    <entry>
                        <key>Basic Authentication Username</key>
                    </entry>
                    <entry>
                        <key>Basic Authentication Password</key>
                    </entry>
                    <entry>
                        <key>Digest Authentication</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Penalize on "No Retry"</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>send-message-body</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>form-body-form-name</key>
                    </entry>
                    <entry>
                        <key>set-form-filename</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Use Chunked Encoding</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Content-Encoding</key>
                        <value>DISABLED</value>
                    </entry>
                    <entry>
                        <key>Content-Type</key>
                        <value>${mime.type}</value>
                    </entry>
                    <entry>
                        <key>Include Date Header</key>
                        <value>True</value>
                    </entry>
                    <entry>
                        <key>Attributes to Send</key>
                    </entry>
                    <entry>
                        <key>Useragent</key>
                    </entry>
                    <entry>
                        <key>Put Response Body In Attribute</key>
                    </entry>
                    <entry>
                        <key>Max Length To Put In Attribute</key>
                        <value>256</value>
                    </entry>
                    <entry>
                        <key>ignore-response-content</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>use-etag</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>etag-max-cache-size</key>
                        <value>10MB</value>
                    </entry>
                    <entry>
                        <key>cookie-strategy</key>
                        <value>ACCEPT_ALL</value>
                    </entry>
                    <entry>
                        <key>Always Output Response</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>flow-file-naming-strategy</key>
                        <value>URL_PATH</value>
                    </entry>
                    <entry>
                        <key>Add Response Headers to Request</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>False</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>10 min</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>postToken</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>Failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>No Retry</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>Original</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>Response</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>Retry</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
        </processors>
    </snippet>
    <timestamp>10/16/2024 22:49:04 BRT</timestamp>
</template>
